<!doctype html>
<html>
	<head>
		<title>{% if page.title != "Introduction" %}{{ page.title }} - {% endif %}Minetest Modding Book</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="An easy guide to learn how to create mods for Minetest">
		<meta name="keywords" content="Minetest, modding, book, tutorial, guide, easy">
		<meta name="author" content="rubenwardy">
	</head>
	<body>
		<ul id="navbar">
			{% for link in site.data.links %}
			{% if link.hr %}
			{% assign hr = true %}
			{% else %}
			<li><a href="{{ page.root }}{{ link.link }}"
				class="{% if page.title == link.title %}selected{% endif %}{% if hr %} hr {% endif %}">
				{% if link.num %} {{ link.num }} - {% endif %}
				{{ link.title }}</a></li>
			{% assign hr = false %}
			{% endif %}
			{% endfor %}
			<li><a id="printable">Printable Version</a><li>
		</ul>
		<div id="page">
			<h1>{{ page.title }}</h1>
