<!doctype html>
<html>
	<head>
		<title>{% if page.title != "Minetest Tutorials and Documentation" %}{{ page.title }} - {% endif %}Minetest Tutorials and Documentation</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{{ site.url }}/static/style.css">
		<link rel="stylesheet" href="{{ site.url }}/static/syntax.css">
	</head>
	<body>
		<ul id="navbar">
			<li><a href="{{ site.url }}/" class="title">Minetest Tutorials</a></li>
			<li><a href="{{ site.url }}/folders">1 - Folder Structure</a></li>
		</ul>
		<div id="page">
			<h1>{{ page.title }}</h1>
