a {
	color: blue;
	text-decoration: underline;
}

img {
	max-width: 100%;
}

figure {
	padding: 0;
	margin: 0;

	.credit {
		display: block;
		font-size: 70%;
	}
}

.right_image {
	float: right;
	text-align: right;
	margin: 0 0 0 10px;
	padding: 0;
}

.right_image img {
	margin: 0;
	padding: 0;
}

.right_image figcaption {
	padding: 0 0 0 6px;
}

.header-link, .anchor {
	text-decoration: none;
	color: #bbb;
	padding: 0 10px 0 0;
}

.header-link {
	position: absolute;
	right: 10px;
}

.header-link:hover {
	color: #999;
}


h1 {
	text-align: center;
	margin: 0;
	padding: 10px 0 0 0;
}

h2 {
	border-bottom: 1px solid #bbb;
	margin: 30px 0 10px 0;
	display: block;
	padding: 0 0 5px 0;
	clear: both;
}

h3 {
	font-size: 105%;
	font-weight: bold;
	margin: 30px 0 10px 0;
}

.toc > ul > li > ul > li > ul {
	display: none;
}



.prevnext {
	display: flex;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	background: #eee;

	li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		flex: 1;

		a {
			display: block;
			margin: 0;
			padding: 1em 0;
			text-align: center;
			font-size: 100%;
			text-decoration: none;
			color: black;
		}

		a:hover {
			text-decoration: none;
			background: #fff;
		}
	}

	li:first-child {
		border-right: 2px solid white;
	}

	li:last-child {
		border-left: 2px solid white;
	}
}
