.feedback {
	background: white;
	padding: 1em;

	input[name='username'], label[for='username'] {
		display: none;
	}

	h2 {
		border: none;
		margin-top: 0;
	}
}

.btn {
	--color-primary-dark: #007DB8;
	--color-primary-dark-highlight: #06aed5;

	display: inline-block;
	padding: 0.375rem 0.75rem;
	margin: 0.25rem 0.25rem 0.25rem 0;
	font-size: 0.9375rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background: transparent;
	border: 1px solid transparent;
	color: white;
	transition: color 0.15s ease-in-out, filter 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;

	&:hover {
		color: white;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.25);
	}

	&.active {
		color: var(--color-primary-dark);
	}

	img.icon {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.btn-primary {
	background-color: var(--color-primary-dark);
	border-color: var(--color-primary-dark);

	&:hover {
		background-color: var(--color-primary-dark-highlight);
		border-color: var(--color-primary-dark-highlight);
	}
}

.form-group {
	margin-bottom: 1rem;
}

button, input {
	overflow: visible;
}

input, button, select, optgroup, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	box-sizing: border-box;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 1.5rem + 2px);
	padding: 0.75rem 1rem;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5;
	color: #52575C;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.text-muted {
	color: #7A8288 !important;
}
.form-text {
	display: block;
	margin-top: 0.25rem;
}

small, .small {
	font-size: 80%;
	font-weight: 400;
}

textarea.form-control {
	height: auto;
}

textarea {
	overflow: auto;
	resize: vertical;
}
