html, body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background: #333;
}

a {
	color: blue;
	text-decoration: underline;
}

img {
	max-width: 100%;
}

figure {
	padding: 0;
	margin: 0;
}

.right_image {
	float: right;
	margin: 0 0 0 10px;
	padding: 0;
}

.right_image img {
	margin: 0;
	padding: 0;
}

.right_image figcaption {
	padding: 0 0 0 6px;
}

#page {
	background: white;
	margin: 0;
	padding: 0 20px 20px 20px;
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
}

#navbar {
	position: absolute;
	left: 0;
	width: 250px;
	top: 0;
	padding: 0;
	margin: 0;
	display: block;
	list-style: none;
	background: #333;
	color: white;
}

#navbar li {
	display: block;
	margin: 0;
	padding: 0;
}

#navbar li a.hr {
	border-top: 2px solid #666;
}

#navbar li a.selected {
	background: #363 !important;
	color: white !important;
}

#navbar li a.selected:hover {
	background: #474 !important;
}

#navbar li a {
	display: block;
	padding: 5px;
	color: #ccc;
	text-decoration: none;
}

#navbar li:nth-child(odd) a {
	background: #3c3c3c;
}

#navbar li a:hover {
	background: #444;
}

.notice {
	margin: 10px;
	display: block;
	padding: 5px;
	border: 1px solid orange;
	border-radius: 5px;
	background: #FFEEDD;

}

.notice h2 {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
}

code {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	margin: 2px;
	background: #f0f0f0;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	white-space: pre;
}

h1 {
	text-align: center;
	margin: 10px 0 0 0;
}

h2 {
	border-bottom: 1px solid black;
	margin: 30px 0 10px 0;
	display: block;
	padding: 0 0 5px 0;
	clear: both;
}

h3 {
	font-size: 105%;
	font-weight: bold;
	margin: 30px 0 10px 0;
}

.toc > ul > li > ul > li > ul {
	display: none;
}
