---
layout: compress
---

<!doctype html>

{% assign pathsplit = page.url | split: '/' %}
{% assign language = pathsplit[1] %}
{% assign language_info = site.data.languages | where: "code", language %}
{% if language_info %}
<html lang="{{ language }}">
{% else %}
<html>
{% endif %}
<head>
	<title>{% if page.homepage %}{% else %}{{ page.title }} - {% endif %}Luanti / Minetest Modding Book</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="rubenwardy">
	<meta name="flattr:id" content="gl763e">
	<link rel="canonical" href="https://rubenwardy.com/minetest_modding_book{{ page.url }}">
	<meta name="og:url" content="https://rubenwardy.com/minetest_modding_book{{ page.url }}">
	<meta name="og:title" content="{{ page.title | escape }}">
	<meta name="og:author" content="rubenwardy">
	<meta name="og:site_name" content="Luanti Modding Book (formerly Minetest)">
	{% if page.description %}
	<meta name="og:description" content="{{ page.description | escape | strip }}">
	<meta name="description" content="{{ page.description | escape | strip }}">
	{% endif %}
	{% if page.image %}
	<meta name="og:image" content="{{ page.image | absolute_url }}">
	{% endif %}

	{% assign oldSegment = "/" | append: language | append: "/" %}
	{% for other_lang in site.data.languages %}
		{% unless other_lang.code == language %}
			{% assign newSegment = "/" | append:  other_lang.code  | append: "/" %}

			<link rel="alternate" hreflang="{{ other_lang.code }}"
				href="{{ page.url | replace: oldSegment, newSegment | relative_url }}">
		{% endunless %}
	{% endfor %}

	{% if page.noindex %}
		<meta name="robots" content="noindex">
	{% endif %}

	<style>body,html,nav{background:#333}nav,nav li,nav li a{display:block}body,html,main,nav li{margin:0;padding:0}main,nav{position:absolute;top:0}body,html{font-size:17px;color:#000}#container{width:100%;max-width:1100px;margin:auto;position:relative}nav{left:0;width:280px;list-style:none;color:#fff}nav li a{padding:5px;color:#ccc;text-decoration:none}main{left:280px;right:0}article{background:#fff;padding:0 20px 20px}</style>
	<link rel="stylesheet" href="{{ page.root }}/static/style.css?v=4">
</head>
<body>
	<div id="container">
		{{ content }}
	</div>
</body>
</html>
